<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>ACSoftware</title>
</head>

<body>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <br />
                <div class="jumbotron" style="background: #3c4043;">
                    <h4 class="text-white">Log Request for HelpDesk solutions!</h4>
                    <h2 class="text-white">Envio de arquivos de logs!</h2>
                </div>
                <p class="alert alert-danger mt-3">
                    Pasta de logs fica localizada dentro da pasta de instalação da
                    solução.
                    <br />Ex:
                    <b>'C:\Program Files\ManageEngine\ServiceDesk Plus\Logs'</b>.
                    <br /> Se a solução estiver em execução, copie a pasta de logs para
                    outro lugar, e compacte-a no formato zip.
                </p>
                <form method="post" enctype="multipart/form-data" class="form-group"
                    id="uploadForm">
                    <div>
                        <label for="inpFile" class="form-label">Anexe arquivo zip ou
                            7zip!</label>
                        <input class="form-control form-control" id="inpFile" type="file"
                            name="file" required>
                        <button type="submit"
                            class="mt-3 btn btn-primary btn-block btn-lg">Enviar</button>
                    </div>
                    <br>
                    <div class="progress" id="progressBar">
                        <div id="progress-bar-id" class="progress-bar progress-bar-animation"
                            role="progressbar" style="width: 0%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="static/js/upload_file.js"></script> -->

    <script>

        const uploadForm = document.getElementById('uploadForm')
        const inpFile = document.getElementById('inpFile')

        const progressBar = document.querySelector('#progressBar > .progress-bar')

        uploadForm.addEventListener('submit', uploadFile);

        function uploadFile(e) {
            e.preventDefault();
            const xhr = new XMLHttpRequest();
            xhr.open('POST', "//localhost:3000/upload", true);
            xhr.upload.addEventListener("progress", e => {
                // console.log(e);
                const percent = e.lengthComputable ? (e.loaded / e.total) * 100 : 0;

                progressBar.style.width = percent.toFixed(2) + "%"
            })

            xhr.upload.onloadend = function (e) {
                window.location.href = "http://localhost:3000/success";
            }

            xhr.send(new FormData(uploadForm))
        }


    </script>
</body>

</html>